.design{
    background:linear-gradient(135deg, #d13ed6, #3a32c2);
    box-shadow: 0px 5px 7px 2px #000000;
    margin-top:2em;
    border-radius: 3em;
    padding: 2em;
}

.alert{
    border-radius: 3em;
    padding: 2em;
}
ul{
    list-style: none;
    line-height: 2em;
    color: white;
    padding: 0;
    margin:0;
}

h3{
    color:#f7f71b;
}
.back{
    width:3em;
    line-height: 5em;
    height:5em;
    background:linear-gradient(135deg, #d13ed6, #3a32c2);
    border-radius:50%;

}

.link{
    color:yellow;
    text-decoration: none;
    font-weight: bold;
}


.link:hover{
    color:white;
}